@import "reset.css";
@import "parallax.css";


::-webkit-scrollbar {
display: none;
}

body {
	color: #FFF;
	background: black;

}

h1,h2,h3,h4,h5,h6 {
	font-family: 'Playfair Display', serif;
	color: #fff;
	font-size: 82px;
}

.section h2 {
  text-shadow: 0px 0px 35px white;
  animation: .3s shine ease-in infinite;
}

@keyframes shine {
  0%{
    text-shadow: 0px 0px 20px white;
  }
  15%{
    text-shadow: 0px 0px 2px white;
  }
  33%{
    text-shadow: 0px 0px 10px white;
  }
  50%{
    text-shadow: 0px 0px 20px white;
  }
  66%{
    text-shadow: 0px 0px 25px white;
  }
  85%{
    text-shadow: 0px 0px 2px white;
  }
  100%{
    text-shadow: 0px 0px 15px white;
  }
}

/*.overlay{
	position: fixed;
	width: 100vw;
	height: 100vh;
	z-index: -1;
	background-image: url('../images/gifs/conso.gif');
	background-repeat: no-repeat;
	background-size: cover;
	filter: blur(50px);
	opacity: 0.4;
}*/
