@import "reset.css";
@import "parallax.css";

@font-face {
 font-family: "Noe Display";
 src: url("assets/fonts/NoeDisplay-Bold.woff") format("woff");
 font-weight: bold;
}

h1,h2,h3,h4,h5,h6 {
	font-family: "Noe Display";
	font-weight: bold;
	color: #808080;
}