@import "reset.css";
@import "parallax.css";


::-webkit-scrollbar {
display: none;
}

body {
	color: #FFF;
	background: black;

}

h1,h2,h3,h4,h5,h6 {
	font-family: 'Playfair Display', serif;
	color: #fff;
	font-size: 82px;
}

/*.overlay{
	position: fixed;
	width: 100vw;
	height: 100vh;
	z-index: -1;
	background-image: url('../images/gifs/conso.gif');
	background-repeat: no-repeat;
	background-size: cover;
	filter: blur(50px);
	opacity: 0.4;
}*/
