#parallax1 {
	z-index: -1;
	position: fixed;
	left: 50%;
	top: 0;
	width: 940px;
	margin-left: -470px;
}
#bg1 {
	position: absolute;
	top: 30vh;
	left: 30vw;
}
#bg1_2 {
	position: absolute;
	top: 60vh;
	left: -8vw;
}
#bg1_3 {
	position: absolute;
	top: 10vh;
	left: -10vw;
}
#bg2 {
	position: absolute;
	top: 80vh;
	left: 60vw;
}
#bg2_2 {
	position: absolute;
	top: 100vh;
	left: 80vw;
}
#bg2_3 {
	position: absolute;
	top: 90vh;
	left: 30vw;
}
#bg3 {
	position: absolute;
	top: 120vh;
	left: -10vw;
}
#bg3_2{
	position: absolute;
	top: 120vh;
	left: 50vw;
}
.small img{
	width: 15em;
	height: auto;
}
.medium img{
	width: 22em;
	height: auto;
}
.large img{
	width: 35em;
	height: auto;
}

.rotate{
	transform: rotate(-90deg);
}

.gif-1 {
	display: block;
}

.gif-2 {
	display: none;
}

.gif-3 {
	display: none;
}

section{
	text-align: center;
}
